@font-face {
	font-family: 'corporate';
	src: url('fonts/corporate.ttf');
}

*{
  margin: 0px;

}
body{
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;

}

.header_wrapper{
  width: 100%;
  height: 62.544vw;
  background-image: url("img/main.png");
  background-repeat: no-repeat;
  background-size: cover ;
}

.titles{
  margin: 19.238vw 0 0 11.132%;
  color: #fff;
  display: inline-block;
  font-family: 'corporate';
}

.titles h2{
  display: inline-block;
  font-size: 7vw;
  font-weight: lighter;
  letter-spacing: 0.555vw;
  margin: 0px;
}

.titles p{
  display: inline-block;
  font-weight: normal;
  font-size: 1.9vw;
  letter-spacing: 0.396vw;
  margin: 1em -20px;
}

.subtitle p{
  font-size: 2.05vw;
  margin: 10px;
  letter-spacing: 0.416vw;
}

.entry{
  color: #fff;
  display: inline-block;
  font-family: 'corporate';
  margin: 16vw 0 0 40vw;
}

.entry a{
  font-family: 'Hiragino Sans';
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border: solid 7px #fff;
  font-size: 3.222vw;
  letter-spacing: 0.39vw;
  padding: 0.3vw 1.17vw 0.3vw 2vw;
  margin: auto;
  transition: 0.3s linear;
}

.entry a:hover {
  background-color: #fff;
  border-color: #EC6758;
  color: #EC6758;
}

.intro_wrapper{
  width: 100%;
  height: 44vw;
  background-image: url("img/content.png");
  background-repeat: no-repeat;
  background-size: cover ;
}

.intro_content{
  color: #EC6758;
  padding: 5.76vw 0 0;
}

.intro_content h2{
  text-align: center;
  font-size: 3.515vw;
  margin: 0;
}

.intro_content p{
  margin-top: 3vw;
  text-align: center;
  font-size: 1vw;
  letter-spacing: 0.54vw;
  line-height: 3em;
}

.red_title h2{
  color: #EC6758;
  padding: 2vw 0 0;
  text-align: center;
  font-size: 3.515vw;
}


.red_title p{
  color: #4A4A4A;
  font-weight: bold;
  text-align: center;
  font-size: 1.7578vw;
}

.white_title h2{
  color: #FFFFFF;
  padding: 2vw 0 0;
  text-align: center;
  font-size: 3.515vw;
}


.white_title p{
  color: #4A4A4A;
  font-weight: bold;
  text-align: center;
  font-size: 1.7578vw;
}

.about_content{
  margin: 5em 0 5em 10vw;
}

.about_content img{
  width: 24.5vw;
  height: 30vw;
  margin-left: 3vw
}

.about_content img:first-child{
  margin-left: 0;
}

.schedule_wrapper{
  width: 100%;
  height: 52.83vw;
  background-image: url("img/schedule.png");
  background-repeat: no-repeat;
  background-size: cover ;
}

.theme_content{
  color: #EC6758;
  text-align: center;
  margin-bottom: 10.156vw;
  margin-top: 2.67vw ;
}

.theme_content h2{
  font-size: 7.8vw;
}

.theme_content p{
  font-size: 1.95vw;
}

.prize_wrapper{
  width: 100%;
  height: 39.06vw;
  background-image: url("img/prize.png");
  background-repeat: no-repeat;
  background-size: cover ;
}

.prize_content{
  color: #fff;
  text-align: center;
  margin-bottom: 10.156vw;
  margin-top: 10.156vw;
  font-size: 1.953vw;
}

.judge_content{
  margin: 3em;
}

.judge_content p{
  text-align: center;
  font-size: 1.758vw;
  color: #4A4A4A;
}

.judge_img{
  margin: 3em 0 0 15vw;
}

.judge_img img{
  width: 17.67vw;
  height: 17.67vw;
}

.judge_1img{
  display: inline-block;
}

.judge_1img p{
  color: #EC6758;
  font-weight: bold;
	margin-bottom: 1vw;
}

.judge_2img p{
  color: #EC6758;
  font-weight: bold;
	margin-bottom: 1vw;

}

.judge_3img p{
  color: #EC6758;
  font-weight: bold;
}

.judge_2img{
  display: inline-block;
	margin-left: 5vw;
}

.judge_3img{
  display: inline-block;
	margin-left: 5vw;
}

.judge_content h2{
	color: #EC6758;
	font-size: 2.343vw;
	text-align: center;
	margin-top: 1em;
}

.date_wrapper{
  width: 100%;
  background-color: #EC6758;
  padding-bottom: 3.7vw;
}

.date_content{
  background-color: #fff;
  margin: 1em 13.28vw 3.7vw 13.28vw;
  padding: 4em 6.93vw;
}

.date_content p{
  display: inline-block;
  color: #EC6758;
  font-size: 1.36vw;
  float: left;
}

.date_content iframe{
  width: 26.86vw;
  height: 19.53vw;
  margin-left: 6vw;
}

.date_content:after {
    content: "";
    clear: both;
    display: block;
}

.QA_content{
  color:  #4A4A4A;
  margin: 5em 25vw;
  font-size: 1vw;
}

.QA_content p{
  margin: 1em;
}

#answer{
  font-weight: bold;
}

.organizer_wrapper{
  width: 100%;
  height: 39.06vw;
  background-image: url("img/organizer.png");
  background-repeat: no-repeat;
  background-size: cover ;
}

.organizer_content{
  margin: 5em 0vw 1em 23vw;
}

.organizer_content p{
  color: #FFF;
  font-size: 1.758vw;
  margin-left: 3vw;
}

.chahan{
  display: inline-block;
}

.organizer_content img{
  width: 14.746vw;
  height: 14.746vw;
}

.uechan{
  display: inline-block;
  margin-left: 25vw;
}

.footer_wrapper{
  width: 100%;
  height: 52.734vw;
  background-image: url("img/footer.png");
  background-repeat: no-repeat;
  background-size: cover ;
}

.titles_bottom{
  margin: 5vw 0 0 15%;
  color: #fff;
  display: inline-block;
  font-family: 'corporate';
}

.titles_bottom h2{
  display: inline-block;
  font-size: 7vw;
  font-weight: lighter;
  letter-spacing: 0.555vw;
}

.titles_bottom p{
  display: inline-block;
  font-weight: normal;
  font-size: 1.9vw;
  letter-spacing: 0.396vw;
  margin: 1em -20px;
}

.subtitles_bottom p{
  margin: 12vw 15vw;
}

.enter_bottom a{
	font-family: 'corporate';
  font-weight: bold;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border: solid 7px #fff;
  font-size: 3.222vw;
  letter-spacing: 1vw;
  padding: 0.5vw 1.17vw 0.5vw 2vw;
  margin: auto;
  transition: 0.3s linear;
}
.enter_bottom a:hover {
  background-color: #fff;
  border-color: #EC6758;
  color: #EC6758;
}

.credit p{
  color: #EC6758;
  font-weight: bold;
  text-align: center;
  margin: 1em;
}
